#container {
    display: block;
	text-align: center;
}
#header {
        	
}
#main {
    border:5px solid yellow;
    position: absolute;
    width: 99%;
}
#first {
    border:5px solid red;
}
#second {
    border:5px solid black;
}
.td-1 {
    
    margin: 10px 0px;
    margin-left: 25%;
    width: 20%;
    float: left;
}
.td-2 {
    
    margin: 10px 0px;
    margin-right: 25%;
    width: 20%;
    float: right;
}
.td-3 {
    
}
.td-4 {
    
}
.td-5 {
    
}
#footer {
    position: absolute;
    width: 99%;
    text-align: center;
	bottom: 0px;
}