---
layout: default
title: 主页
---

<div id="container">
	<header>
		<h1>Hey!</h1>

		<p>Vinty</p>
	</header>

	<main>
		<div id="first">
			<div class="td-1"><a target="_blank" href="https://yugchak.github.io/GradDesign">Good Show!</a></div> 
			<div class="td-2"><a target="_blank" href="https://yugchak.github.io/htmlspe">HTML</a></div> 
			<div class="td-3"><a target="_blank" href="https://yugchak.github.io/notes">note</a></div>
		</div>
		<div id="second">
			<div id="tit">Latest note # Mar 06, 2020</div>
			<p>
			 {% include content.html %}
			 {% include content.html %}
			</p>
		</div>
	</main>

</div>
