body {
    color: black;
    line-height: 1.65rem;
    padding: 1.5em 2.5em;
    font-size: 14px;
}
header, main {
    max-width: 40em;
    margin: auto;
}
h1 {
    text-align: center;
}
#second {
    border: 4px solid #ccc;
    margin: 2em 0em 3em;
    padding: 10px;
}
#tit {
    font-size: .7rem;
    text-transform: uppercase;
    padding: 0 .5em;
    position: absolute;
    margin-left: -.5em;
    margin-top: -2em;
    background: white;
}


#td-1 {
    margin: 10px 0px;
    margin-left: 25%;
    width: 20%;
    float: left;
}
#td-2 {
    margin: 10px 0px;
    margin-right: 25%;
    width: 20%;
    float: right;
}
#footer {
    position: absolute;
    width: 99%;
    text-align: center;
	bottom: 0px;
}