body {
    color: black;
    line-height: 1.65rem;
    padding: 21px 0px;
    font-size: 14px;
}
header, main {
    max-width:-webkit-calc(690px - (30px * 2));
    max-width:calc(690px - (30px * 2));
    margin-right:auto;
    margin-left:auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: 800px){
    body {
        padding: 21px 0px;
    }
    header, main {
        max-width:-webkit-calc(660px - (30px));
        max-width:calc(660px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}
.h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
    text-align: center;
}
#second {
    border: 4px solid #ccc;
    margin: 2em 0em 3em;
    padding: 10px;
}
#tit {
    font-size: .7rem;
    text-transform: uppercase;
    padding: 0 .5em;
    position: absolute;
    margin-left: -.5em;
    margin-top: -2em;
    background: white;
}


#td-1 {
    margin: 10px 0px;
    margin-left: 25%;
    width: 20%;
    float: left;
}
#td-2 {
    margin: 10px 0px;
    margin-right: 25%;
    width: 20%;
    float: right;
}
#footer {
    position: absolute;
    width: 99%;
    text-align: center;
	bottom: 0px;
}
